<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="screenshot.Listeners"></listener>
    </listeners>
    <test name="Test" thread-count="2"  parallel="methods">
        <classes>
            <class name="tests.HomePageTest"></class>
            <class name="tests.ABTestingTest"></class>
        </classes>
    </test>
</suite>