<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="1">
    <listeners>
        <listener class-name="listeners.ListenersClass"></listener>
        <listener class-name="listeners.MethodInterceptor"></listener>
        <listener class-name="listeners.AnnotationTransformer"></listener>
    </listeners>
    <test name="Test" thread-count="1" parallel="methods">
        <classes>
            <class name="tests.OrangeHRMAuthTest"></class>
            <class name="tests.OrangeHRMAuthExcelDataFetchTest"></class>
        </classes>
    </test>
</suite>